
/* Adding Root Variables */
:root {
    /* Ribbon */
    --ribbon-color: #ED2939;

    /* Generic Black Color (FONT) */
    --dark-text-color: #36454F;

    /* Page Background Color */
    --page-background-color: #F0F0F0;

    /* Nav Linear Gradient Colors */
    --nav-color-1: #F3FCE1;
    --nav-color-2: #BDF7EF;
    --nav-color-3: #B9DCF2;
    --nav-color-4: #D6C8EE;
    --nav-color-5: #F8C6DB;

    /* Dropdown Menu Color */
    --dropdown-color-1: #D37EEA;
    --dropdown-color-2: #FF69B4;
    --dropdown-color-3: #FF6A79;

    /* Dropdown Menu Font Color */
    --dropdown-text-color: #69FFB4;
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    background-color: var(--page-background-color);
}

header {
    position: sticky;
    top: 0px;
}

.raleway-font-generic-utility {
    font-family: 'Raleway', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: var(--dark-text-color);
}

.raleway-font-generic-utility-small {
    font-family: 'Raleway', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--dark-text-color);
}

.ribbon {
    height: 35px;
    width: 100%;
    background-color: var(--ribbon-color);
    border-bottom: black solid 1.5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0px 10px 0px 10px;
}

.nav-bar {
    background-image: linear-gradient(180deg, var(--nav-color-1), var(--nav-color-2), var(--nav-color-3), var(--nav-color-4), var(--nav-color-5));
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;

    & .logo {
        height: 100px;
        width: 100px;
        background-color: black;
        border-radius: 50%;
        margin: 0px 10px 0px 10px;
        opacity: 0.7;
    }
}

.containing-ul {
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & li:nth-child(1):hover {
        & .dropdown-1 {
            display: block;
        }
    }

    & li:nth-child(3):hover {
        & .dropdown-2 {
            display: block;
        }
    }

    & li {
        font-size: 40px;
    }

    & .dropdown-1 {
        display: none;
        position: absolute;
        height: 155px;
        background-image: linear-gradient(225deg, var(--dropdown-color-1), var(--dropdown-color-2), var(--dropdown-color-3));
        opacity: 0.9;
        border-radius: 10px;

        & li {
            border-bottom: 3px solid var(--dark-text-color);
        }

        & li a {
            /* color: var(--dropdown-text-color); */
            color: var(--dark-text-color);
            font-size: 32px;
        }

        & li a:hover {
            /* color: var(--dropdown-text-color); */
            box-shadow: inset 0px -32px 0px 0px var(--dropdown-text-color);
            transition: 0.9s;
        }
    }

    & .dropdown-2 {
        display: none;
        position: absolute;
        height: 100px;
        background-image: linear-gradient(225deg, var(--dropdown-color-1), var(--dropdown-color-2), var(--dropdown-color-3));
        opacity: 0.9;
        border-radius: 10px;

        & li {
            border-bottom: 3px solid var(--dark-text-color);
        }

        & li a {
            /* color: var(--dropdown-text-color); */
            color: var(--dark-text-color);
            font-size: 32px;
        }

        & li a:hover {
            /* color: var(--dropdown-text-color); */
            box-shadow: inset 0px -32px 0px 0px var(--dropdown-text-color);
            transition: 0.9s;
        }
    }
}

li {
    list-style: none;
    margin: 0px 30px 0px 30px;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--dark-text-color);
}