
/* Adding Root Variables */
:root {
    /* Ribbon */
    --ribbon-color: #ED2939;

    /* Generic Black Color (FONT) */
    --dark-text-color: #36454F;

    /* Page Background Color */
    --page-background-color: #F0F0F0;

    /* Nav Linear Gradient Colors */
    --nav-color-1: #01AEBC;
    --nav-color-2: #64BFB6;
    --nav-color-3: #A3CAB9;
    --nav-color-4: #F5DBC0;
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

header {
    position: sticky;
    top: 0px;
}

.raleway-font-generic-utility {
    font-family: 'Raleway', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.ribbon {
    height: 35px;
    width: 100%;
    background-color: var(--ribbon-color);
    border-bottom: black solid 1.5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0px 10px 0px 10px;
}

.nav-bar {
    background-image: linear-gradient(180deg, var(--nav-color-1), var(--nav-color-2), var(--nav-color-3), var(--nav-color-4));
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    & .logo {
        height: 100px;
        width: 100px;
        background-color: black;
        border-radius: 50%;
        margin: 0px 10px 0px 10px;
        opacity: 0.7;
    }
}

.containing-ul {
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & li:nth-child(1):hover {
        & .dropdown-1 {
            display: block;
        }
    }

    & li:nth-child(3):hover {
        & .dropdown-2 {
            display: block;
        }
    }

    & li {
        /* width: 200px; */
        padding: 2px;
    }

    & .dropdown-1 {
        display: none;
        position: absolute;
        height: 100px;
        background-color: gray;
    }

    & .dropdown-2 {
        display: none;
        position: absolute;
        height: 100px;
        background-color: gray;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}